<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eec1ba45-a2e9-41fe-a14e-b43dce783255/resourceGroups/demo-bot-alede/providers/Microsoft.Web/sites/demo-bot-alede</ResourceId>
    <ResourceGroup>demo-bot-alede</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://demo-bot-alede.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>demo-bot-alede.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>demo-bot-alede</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$demo-bot-alede</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:commerce-bot.database.windows.net,1433;Initial Catalog=commerce-bot;Persist Security Info=False;User ID=ademianenko;Password=mAGvIEW#1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:commerce-bot.database.windows.net,1433;Initial Catalog=commerce-bot;Persist Security Info=False;User ID=ademianenko;Password=mAGvIEW#1;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="commerce_bot_mvc.Models.ApplicationDbContext, commerce-bot-mvc" MigrationConfiguration="commerce_bot_mvc.Migrations.Configuration, commerce-bot-mvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:commerce-bot.database.windows.net,1433;Initial Catalog=commerce-bot;Persist Security Info=False;User ID=ademianenko;Password=mAGvIEW#1;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>