@{
    ViewBag.Title = "Home Page";
}

<div class="container col-md-12">
    <!--<h1>@ViewBag.RestaurantId</h1>
        foreach (var category in ViewBag.Menu)
        {
            <div class="row">
                <div class="col-12 menu">
                    <h3>category.Key</h3>
                    <div class="row">
                        <hr />
                       //foreach (var item in category.Value)
                        {
                            <div class="col-6 menu-item">
                                <p class="card-title menu-item-header">//item.DishName – C$item.Price</p>
                                <p class="cart-text menu-item-description">//item.DishDescription</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }-->
</div>
